.no-data-paper {
  padding: 16px !important;
  min-height: 300px !important;
  text-align: center !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}
