.exams-poster-paper {
  padding: 24px !important;
  min-height: 200px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: flex-start !important;
  background: #f8fcff !important;
}
