.exams-poster-paper {
  padding: 24px !important;
  min-height: 200px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: flex-start !important;
  background: #f8fcff !important;
}

@media (min-width: 1440px) {
  .exams-poster-paper {
    width: 99% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
