.due-item-card-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.due-item-card-assignment-icon {
  font-size: 20px !important;
  color: #84bab1 !important;
}

.due-item-card-button {
  width: 100%;
  color: #84bab1 !important;
  border-width: 3px !important;
  border-color: #84bab1 !important;
  border-radius: 8px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.due-item-card-button-container {
  width: 100%;
}
