.dashboard-root {
  width: 100% !important;
}

@media (max-width: 600px) {
  .dashboard-root {
    padding: 0 !important;
  }
  .MuiGrid-container {
    flex-direction: column !important;
  }
  .MuiGrid-item {
    width: 100% !important;
    max-width: 100% !important;
  }
}
