.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-header__button {
  color: #84bab1 !important;
  background: none !important;
  border: none !important;
  text-transform: none !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  padding: 0 !important;
  min-width: 0 !important;
}

.section-header__button:hover {
  background: transparent !important;
}
