.due-list-paper {
  padding: 16px !important;
  min-height: 300px !important;
}

.due-list-listitem {
  flex-direction: column !important;
  align-items: flex-start !important;
}

@media (min-width: 1440px) {
  .due-list-paper {
    max-width: 300px !important;
    width: 100% !important;
    margin-left: 24px !important;
    margin-right: 0 !important;
  }
}
